*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.clear-fix::after{
    content: '';
    display: block;
    clear: left;
}
.nav{
    list-style: none;
    border-bottom: 1px solid rgba(0,0,0,.3);
}
.nav-item{
    float: left;
    margin-bottom: -1px;
}
.nav-link{
    border: 1px solid transparent;
    text-decoration: none;
    border-radius: 5px 5px 0 0;
    font-size: 200%;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    transition: .4s ease-in-out;
}
.nav-link:hover{
    border-color: rgba(0,0,0,.3) rgba(0,0,0,.3);
    color: #7676ff;
}
.nav-link.active{
    border-color: rgba(0,0,0,.3) rgba(0,0,0,.3) #fff;
    color: gray;
}

.tab-content{
    margin: 50px 20px;
    font-size: 150%;
}
.tab-content .tab-pane{
    display: none;
}
.tab-content .tab-pane.active{
    display: block;
}
.form-question{
    margin: 20px;
    padding: 20px;
}
.form-group{
    margin: 15px 0;
}
.form-question input{
    width: 18%;
}
.form-question input, .form-question button{
    padding: 20px;
    font-size: 120%;
    border-radius: 10px;
}
.form-question button{
    cursor: pointer;
    padding: 20px 40px;
}
#question-3 input{
    width: 28%;
}
#question-4 select{
    padding: 15px 30px;
    font-size: 110%;
    border-width: 2px;
    border-radius: 10px;
    cursor: pointer;
}
#question-4 #number-string{
    width: 50%;
}
#total-char{
    width: 10%;
    display: none;
}
#refresh{
    display: none;
    font-size: 150%;
    cursor: pointer;
}
#ansewr{
    white-space: pre;
    word-spacing: 6px;
    text-indent: 6px;
    line-height: 18px;
}